<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Todo App</title>

  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../bower_components/fontawesome/css/font-awesome.css" />

  <link rel="stylesheet" href="css/style.css" />
</head>

<body ng-app="todoApp">
  <div class="container">
    <div class="header">
      <h3 class="text-muted">Todo App</h3>
    </div>

    <div ng-controller="TodosCtrl">
      <div class="jumbotron">
        <h3>Todos: {{ todos.length }}</h3>
      </div>

      <div class="row marketing">
        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Todo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="todo in todos">
              <td class="col-md-1">
                <input type="checkbox" ng-model="todo.done" ng-change="update(todo)" />
              </td>
              <td class="col-md-10">
                <a href="#" editable-text="todo.text" onbeforesave="updateData(todo, $data)">{{ todo.text || "empty" }}</a>
              </td>
              <td class="col-md-1">
                <a href="" ng-click="delete(todo._id)">delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-route/angular-route.min.js"></script>

  <script src="scripts/app.js"></script>
  <script src="scripts/services/todos_service.js"></script>
  <script src="scripts/controllers/todos.js"></script>
</body>

</html>
